img {float: left; margin-right: 250px; position: fixed;}
p {clear: both;
   text-align: center;}
body {background-image: url("https://storage.indicium.nu/source/lonely-planet/in  spiratie/2017_juni/oceanen/oceaan-513369750-instcaner.jpg")}
